@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:wght@100;200;300;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* değişkenler */

:root{
    --white:#f5f5f5;
    --black:#121212;
    --green:#16ff00;
    --gray:#cdcccc;
    --gren2:#15ff0047;
}

/* genel etiket stillendirme */

a{
    color: var(--white);
}

h1,h2,h3,h4{
    color: var(--white);
}
p{
    color: var(--gray);
}

body{
    font-family: 'Electrolize', sans-serif;
    background-color: var(--black);
    overflow-x: hidden;
}

section{
    padding: 30px;
}

button{
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s ease;
}


/* header başlangıç */

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    padding: 20px;
    z-index: 100;
}
header h1 a span{
    color: var(--green);
}

nav{
    display: flex;
    gap: 20px;
}

.link{
    color: var(--green);
}

.nav-button{
    display: none;
}


/* header bitiş */

/* hero başlangıç */

#hero{
    height: 50vh;
    background-image: url(/images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.hero-inner{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(5px);
    align-items: center;
    box-shadow: var(--gren2) 0px 14px 28px, 0px 10px 10px;
}

.hero-inner h1{
    color: #16ff00;
    font-size: 30px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.buttons > button{
    padding: 10px 40px;
}

.buttons button:nth-child(1) {
    background-color: var(--green);
    color: var(--white);
}

.buttons button:nth-child(2) {
    color: var(--green);
}


/* hero bitiş */


/* pencere başlangıç */

#image-sec{
    display: flex;
    justify-content: space-between;
    gap: 100px;

}

.image-sec-info{
    max-width: 600px;
    display: grid;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}

.image-sec-info h1{
    font-size: 35px;
}

.image-sec-info button{
    border: 1px solid transparent;
    color: var(--green);
}

.image-sec-info button:hover{
    border: 1px solid var(--green);
    background-color: var(--gren2);
    color: var(--white);
}


.images{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
}

.window{
    min-width: 200px;
    height: 400px;
    background-image: url(/images/sec2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px 40px 0 0;
}

.window:nth-child(2) {
    border-radius: 40px 40px 40px 40px;
}


/* pencere bitiş */



/* card başlangıç */

.cards-sec-info{
    max-width: 600px;
    display: grid;
    gap: 40px;
}

.cards{
    
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;

}

.card h1{
    margin-bottom: 10px;
}

.card video{
    width: 200px;
}



/* card bitiş */

/* liste alanı başlangıç */

.step-sec-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.step-sec-info p{
    max-width: 400px;
}

.step-sec-info h1{
    max-width: 360px;
}

.vertical-line{
    border: 1px solid var(--green);
    height: 100px;
}

#step-sec ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--green);
    padding-bottom: 40px;
    margin-top: 40px;

}

#step-sec ul li span{
    color: var(--green);
    font-size: 15px;
}

#step-sec ul li img{
    width: 50px;
}
/* liste alanı bitiş */



/* footer başlangıç */

footer{
    background-color: var(--black);
    padding: 40px;
}

.footer-area{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-links h2 span{
    color: var(--green);
}

.footer-bottom{
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid var(--gray);
    padding-top: 20px;
}

.field{
    display: flex;
    gap: 10px;
}

.field input{
    padding: 5px 10px;
    border-radius: 10px;
    max-height: 50px;
}

.field button{
    background-color: var(--green);
    color: var(--white);
    white-space: nowrap;
}
/* footer bitiş */




/* media sorguları */

@media (max-width:800px) {
    .nav-button{
        display: block;
    }
    nav{
        display: none;
    }

    header nav a{
        color: #000015;
    }

    .toggle{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 70px;
        background-color: var(--gray);
        padding: 20px;
        border-radius: 10px;
    }

    #hero{
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width:1000px) {
    .footer-area{
        grid-template-columns: 1fr 1fr;
        row-gap: 40px;
    }

    .footer-links{
        align-items: center;
    }
    .cards{
        flex-direction: column;
        place-items: center;
    }

    .card{
        max-width: 400px;
    }
}

@media (max-width:1200px) {
    #image-sec{
        flex-direction: column;
        align-items: center;
    }
}